* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8e8e8e;
    width: 250px;
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Consolas";
}

main {
    padding: 30px;
    flex: 1;
}

nav {
    height: 60px;
    display: flex;
    background-color: #4f4f4f;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 1px;
    padding: 5px;
}

#toggle {
    display: block;
    background-color: #3d3d3d;
    border-radius: 50%;
    font-size: 24px;
    font-family: "Consolas";
    aspect-ratio: 1 / 1;
    width: 200px;
    height: 200px;
    margin: auto;
    transition: background-color 0.3s ease-out;
}

.on {
    color: #5e9c49;
    border: 3px solid #5e9c49;
}

.off {
    color: #c73447;
    border: 3px solid #c73447;
}

#toggle:hover {
    background-color: #4f4f4f;
    cursor: pointer;
}

#him {
    text-align: center;
}

img {
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
p {
    font-size: larger;
    font-family: "Consolas";
}

button[type="submit"] {
    font-family: "Consolas";
    font-size: large;
    border-radius: 10px; /* Adjust the border-radius as needed */
    background-color: #ffffff;
    color: initial; /* Set the color to initial to use the default text color */
    transition: background-color 0.3s ease-out;
}

button[type="submit"]:hover {
    background-color: #5e9c49;
    color: #ff0000;
}
