* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #747171;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Monaco";
}

main {
    padding: 30px;
    flex: 1;
}

nav {
    height: 60px;
    display: flex;
    background-color: #4f4f4f;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

ul {
    display: flex;
    padding: 16px;
    flex-direction: column;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#toggle {
    display: block;
    background-color: #3d3d3d;
    border-radius: 50%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    aspect-ratio: 1 / 1;
    width: 200px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    margin: auto;
    transition: background-color 0.3s ease-out;
}


.on {
    color: #5e9c49;
    border: 3px solid #5e9c49;
}

.off {
    color: #c73447;
    border: 3px solid #c73447;
}

#toggle:hover {
    background-color: #4f4f4f;
    cursor: pointer;
}

#him {
    text-align: center;
}

img {
    border-radius: 30px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
p {
    font-size: larger;
    font-family: "Monaco";
}