* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141526;
    width: 275px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Roboto";
}

main {
    padding: 30px;
    flex: 1;
}

nav {
    margin-bottom: 10%;
    margin-right: 20%;
    margin-left: 20%;
    height: 60px;
    display: flex;
    background-color: #008ECC;
    align-items: center;
    justify-content: center;
    font-family: "Roboto";
    border-radius: 3rem;
    letter-spacing: 6px;
    text-indent: 6px;
}

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    text-align: center;
}

ul, li {
    list-style: none;
    margin: 1px;
    padding: 5px;
}

#toggle {
    display: flex;
    background-color: #141526;
    border-radius: 50%;
    font-size: 48px;
    font-family: "Roboto";
    width: 200px;
    height: 200px;
    margin: auto;
    font-weight: 100;
    letter-spacing: 12px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-indent: 12px;
}

.on {
    color: #FFFFFF;
    border: 2px solid #7BD5F5;
}

.off {
    color: #FFFFFF;
    border: 2px solid #7BD5F5;
}

#toggle:hover {
    background-color: #141526;
    cursor: pointer;
}

#him {
    text-align: center;
}

p {
    font-size: larger;
    font-family: "Roboto";
}

button[type="submit"] {
    font-family: "Roboto";
    font-size: large;
    border-radius: 10px; /* Adjust the border-radius as needed */
    background: linear-gradient(to top, #4ADEDE, #7BD5F5);
    background-color: #141526;
    color: initial; /* Set the color to initial to use the default text color */
    display: flex;
    align-items: center;
}
