/* img{
    width: 200px;
    border-radius: 30px;
    float: left;
    margin-right: 10px;
}
.Introduction{
    font-weight: bold;
}
em{
    color: brown;
    font-style: normal;
} */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3d3d3d;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px;
    flex: 1;
}

nav {
    height: 60px;
    display: flex;
    background-color: #4f4f4f;
} 

a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 16px;
}

ul {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#him {
    text-align: left;
    padding-left: 63px;
    margin-left: 20px;
}