* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3d3d3d;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

main {
    padding: 30px;
    flex: 1;
}

li {
    list-style: none;
}

nav {
    height: 60px;
    display: flex;
    background-color: #4f4f4f;
}

#toggle {
    display: block;
    background-color: #3d3d3d;
    color: #5e9c49;
    border-radius: 50%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    aspect-ratio: 1 / 1;
    border: 3px solid #5e9c49;
    width: 50%;
    margin: auto;
    transition: background-color 0.3s ease-out;
}

#toggle:hover {
    background-color: #4f4f4f;
    cursor: pointer;
}